{
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": ["error", 4],
    "semi": ["error", "always"],
    "no-unused-expressions": "off"
  },
  "globals": {
    "sinon": true,
    "expect": true,
    "getTracker": true,
    "supertest": true,
    "tracker": true
  }
}
